
footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:100px;
    padding:50px;
    padding-left:400px;
    padding-right:400px;
    display: flex;
    justify-content: space-around;
    gap:200px;
    border-top:2px solid rgb(240, 240, 240);
}