h1 {
  color: green;
}
.book-summary {
  color: blue;
}
#site-description {
  color: red;
}
.im{
    border: solid;
}
#udacity-text {
  font-size: 30px;
  font-family:'Times New Roman';
}
#menu{
    color:red;
}