
div{
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
    padding-left:25%;
    padding-right:25%;
    padding-bottom:10px;
    padding-top:10px;
    gap:130px;
    align-items: center;
    box-shadow:0px 3px 15px 0px rgba(201, 201, 201, 0.493);
}
a{
    text-decoration: none;
    color:rgb(145, 145, 145);
    transition: 0.3s ease;
    font-size:17px;
    margin-left:50px;
} 
a:hover{
    color:black;
}

@media(max-width:900px){
    #headerNav{
        display:none;
    }
}