
p{
    margin:0px;
    padding:0px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 240px;
    border:1px solid rgb(229, 229, 229);
    padding:10px;
    border-radius: 8px;
    transition: all 0.5s ease;
}
.card:hover{
    border:1px solid rgb(229, 229, 229);
    box-shadow: 0 2px 1px 10px rgb(229, 229, 229);

}
.card a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.cardImage img{
    object-fit: contain;
    margin-top:20px;
}
.cardImage{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cardInfo{
    display: flex;
    justify-content: center;
}
.cardInfo p{
    margin-top:10px;
}