a:link {
                color: red;
            }
            a:visited {
                color: orange;
            }
            a:hover { 
                background-color: rgb(255, 214, 255);
            }  
            a:active {
                background-color: rgb(255, 214, 255);
            } 
            a:focus {
                background-color: rgb(255, 214, 255);
            }
            h1, h2 {
                font-family: cursive;
            }
            body {
                font-family: sans-serif;
            }
            
            h1, h2 {
                font-family: cursive;
            }
            ul li strong {
                line-height: 2em;
            }
            .orange {
                background-color: orange;
            }
            
            .yellow {
                background-color: yellow;
            }
            
            .purple {
                background-color: purple;
                color: white;
            }
            p.warning {
                border: 5px solid orange;
            }
            p .purple{
                color:purple;
                background-color: transparent;
            }
        #fs{
            float:left;
        }
        #ss{
            clear:both;
        }
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(97, 250, 255);
        }
        #rabbits-info-heading{
            background-color: purple;
        }
        p {
            color: rgb(191, 0, 255);
            font-family: "Helvetica", sans-serif;
        }
        h2 {
            color: rgb(0, 232, 15);
            font-size: 1.5em;
        }
        #rabbits-info {
            color: purple;
            font-weight: bold;
            text-decoration: underline;
        }
        
        .song-lyrics {
            background-color: yellow;
            font-family: fantasy;
            font-size: 13px;
            font-style: italic;
            line-height: 1.5em;
            text-align: center;
        }
        .lovey-dovey {
            color: red;
        }
        
        #official-info {
            background: rgb(230, 230, 230);
            width: 70%;
            height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 15px 0px 10px 6px;
            border: 2px dashed rgb(161, 161, 161);
            padding: 6px;
        }
        
        #cute-cat {
            width: 120px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 6px ridge red;
        }
        
        #container {
            width: 400px;
            margin: auto;
            border: 1px solid rgb(145, 0, 0);
            border-top: 10px solid purple;
            padding: 15px;
        }
        #landscape {
            width: 250px;
            position: absolute;
            top: 20px;
            left: 10px;
            z-index: 1;
        }
        
        #winston {
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 2;
        }
        #hopper {
            position: absolute;
            top: 30px;
            left: 80px;
            z-index: 3;
        }
        
        h1 {
            position: fixed;
            z-index: 4;
            left: 30px;
        }
        
        #song {
            position: relative;
            top: 220px;
        }
        .fact {
                border-top: 1px solid rgb(222, 222, 222);
                border-bottom: 1px solid rgb(222, 222, 222);
                padding-top: 6px;
                padding-bottom: 6px;
                
            }
            
            .warning {
                background-color: red;
                color:white;
            }