#container {
    display:grid;
    padding-left:25%;
    padding-right:25%;
    grid-template-columns: repeat(4, 1fr);
    margin-top:70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#catTitle{
    padding-left:25%;
    padding-right:25%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#catTitle p{
    font-weight: 700;
    font-size:22px;
}
#isEmptyDiv{
    padding-left:25%;
    padding-right:25%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#isEmptyDiv{
    font-weight: 500;
    font-size:22px;
}
@media (max-width:1000px){
    #container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:900px){
    #container{
        display:flex;
        flex-direction: column;
    }
}