p{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding:0px;
    padding-bottom:30px;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:20%;
    padding-right:20%;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size:16px;
    padding-left:30px;
    padding-right:30px;
}
header p{
    margin-left:8px;
    font-family: Helvetica , sans-serif;
    margin-top:5px;
    color: rgb(31, 35, 40);
}
header img{
    margin-right:20px;
}
header p img{
    margin-left:5px;
}
#leftHeader{
    display:flex;
    align-items: center;
}
#rightHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
#rightHeader input{
    border: none;
    width: 250px;
    margin-left:0px;
}
#rightHeader input:focus{
    border:none;
    outline:none;
}
#rightHeaderInputDiv{
    display: flex;
    align-items: center;
    border: 1px solid rgb(223, 228, 233);
    border-radius: 5px;
    padding:5px;
}
#rightHeaderInputDiv div{
    border: 1px solid rgb(223, 228, 233);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#rightHeader hr{
    border:none;
    background-color:rgb(223, 228, 233);
    width: 1px;
    height: 22px;
    margin:0px;
}
#rightHeader button{
    border: 1px solid rgb(223, 228, 233);
    background-color: white;
    height: 35px;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
}
#rightHeader button:hover{
    color:rgb(176, 179, 182);
}







#headerCont{
    text-align: center;
    margin-top:40px;
}
#headerCont h1{
    font-size:60px;
    font-family: "Mona Sans";
    font-weight: 800;
    color:rgb(31, 35, 40);
}

#headerCont p{
    font-family: "Mona Sans",sans-serif;
    font-size:17px;
    color:#59636e;
}
#headerCont button{
    background: linear-gradient(to bottom, rgb(60, 63, 67), rgb(35, 39, 43));
    color:white;
    font-family: "Mona Sans",sans-serif;
    font-size:18px;
    border-radius: 7px;
    border:none;
    height: 50px;
    margin-top:25px;
    padding-left:20px;
    padding-right:20px;
    font-weight: 450;
}
#headerCont button:hover{
    background: linear-gradient(to bottom, rgb(86, 91, 97), rgb(35, 39, 43));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}





#bodyCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    margin-top:100px;
}
.cardDiv{
    border:1px solid rgb(200, 208, 215);
    border-radius: 12px;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.3); 
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Mona Sans",sans-serif;
}
.headerCardDiv{
    background-color: white;
    align-items: center;
    text-align: center;
    margin-left:50px;
    margin-right:50px;
}
.cardHeader{
    font-size:25px;
    font-weight: 800;
    margin-bottom:0px;
}
.cardPar{
    font-size:14px;
    color:#59636e;
    margin-top:5px;
}
.moneyInfo{
    display:flex;
    flex-direction: row;
    margin-top:25px;
    padding-left:15px;
    padding-right:15px;
}
.moneyDollarSign{
    color:#59636e;
    font-size:30px;
}
.moneyP{
    font-size:50px;
}
.moneyCurrencyP{
    margin-top:30px;
    margin-left:5px;
    font-size:25px;
    font-weight: 600;
}
.moneyInfoPInfo{
    color:#59636e;
    margin-top:20px;
    margin-left:5px;
}
#startingAtDiv{
    color:#59636e;
    border:1px solid rgb(223, 228, 233);
    border-radius: 15px;
}
.cardButtonsDiv{
    padding-left:10px;
    padding-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;
    margin-top:10px;
}
#freeCardBtn{
    background-color: white;
    border: 2px solid rgb(223, 228, 233);
    font-family: "Mona Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    width:100%;
    border-radius:8px;
    transition: border-color 0.3s ease;
}
#freeCardBtn:hover{
    border-color:rgb(76, 76, 76);
}
#teamCardBtn{
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    width:100%;
    background: linear-gradient(to bottom, rgb(60, 63, 67), rgb(35, 39, 43));
    color:white;
    font-family: "Mona Sans",sans-serif;
    border-radius: 8px;
    border:none;
}
#teamCardBtn:hover{
    background: linear-gradient(to bottom, rgb(86, 91, 97), rgb(35, 39, 43));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}
#enterCardBtnW{
    background-color: white;
    border: 2px solid rgb(223, 228, 233);
    font-family: "Mona Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    width:100%;
    border-radius:8px;
    transition: border-color 0.3s ease;
}
#enterCardBtnW:hover{
    border-color:rgb(76, 76, 76);
}
#enterCardBtnB{
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    width:100%;
    background: linear-gradient(to bottom, rgb(60, 63, 67), rgb(35, 39, 43));
    color:white;
    font-family: "Mona Sans",sans-serif;
    border-radius: 8px;
    border:none;
}
#enterCardBtnB:hover{
    background: linear-gradient(to bottom, rgb(86, 91, 97), rgb(35, 39, 43));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}

.footerCardDiv{
    background-color: rgb(242, 244, 246);
    flex:1;
    padding:20px;
}
.blueText{
    color:rgb(9, 105, 220);
    font-size:14px;
    margin-top:35px;
}
details{
    margin-top:20px;
}
details summary{
    font-size:14px;
    font-weight: 800;
    color:#59636e;
}
details summary sub{
    margin-left:20px;
    font-weight: 600;
}
details p{
    font-size:14px;
    color:#59636e;
    margin-left:20px;
    margin-top:10px;
    line-height: 1.6;
}
summary span img{
    margin-right:10px;
    transition: transform 0.25s ease;
}
.includeP{
    font-size:13px;
    font-weight: 500;
    margin-bottom:20px;
}
.includeP img{
    margin-right:10px;
}




#textFooterCont h2{
    font-size:64px;
    font-weight: 900;
    font-family: "Mona Sans",sans-serif;
    color:rgb(31, 36, 40);
    letter-spacing: -0.05em;
}
#textFooterCont{
    display: flex;
    align-items: center;
    justify-content: center;
}


#addOnsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.addOnCard {
  padding: 30px;
  background: white;
  border-radius: 8px;
  border:1px solid rgb(200, 208, 215);
  font-family: "Mona Sans",sans-serif;
  display:flex;
  flex-direction: column;
  box-shadow :0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  will-change: transform;
}
.addOnCard:hover{
    transform: scale(1.03);
    box-shadow :0 4px 6px rgba(0, 0, 0, 0.4);
}
.addOnCard:hover .learnMoreDiv p img{
    transform:translateX(20px);
}
.headAddOnCard p{
    font-size:12px;
    border:2px solid rgb(28, 128, 56);
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
    color :rgb(28, 128, 56);
    font-weight: 600;
}
.bodyAddOnCard{
    margin-bottom:10px;
}
.bodyAddOnCard p{
    color:#59636e;
}
.learnMoreDiv{
    margin-top:auto;
}
.learnMoreDiv p img{
    margin-left:10px;
    transition: transform 0.25s ease;
}







@media (max-width: 1100px) {
  #addOnsCards {
    grid-template-columns: 1fr;
  }
}
@media(max-width:1500px){
    #bodyCont{
    grid-template-columns: 1fr;
  }
}


summary::marker {
  content: none;
}
details[open] summary span img {
  transform: rotate(90deg);
}