#container {
    display:grid;
    padding-left:25%;
    padding-right:25%;
    grid-template-columns: repeat(4, 1fr);
    margin-top:70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin:0px;
    padding:0px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 240px;
    border:1px solid rgb(229, 229, 229);
    padding:10px;
}
.card hr{
    margin-top:20px;
    border:1px solid rgb(229, 229, 229);
}
.card a{
    display: block;
    text-decoration: none;
    color:rgb(8, 141, 208);
}
.card a:hover{
    text-decoration: underline;
}
.cardImage img{
    object-fit: contain;
    margin-top:20px;
}
.cardImage{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cardInfo{
    flex:1;
    display: flex;
    flex-direction: column;
}
.pDescription{
    font-size:12px;
    margin-top:3px;
    color:rgb(99, 99, 99);
}
.shareIcon{
    margin-top:15px;
    transition: filter 0.5s ease;
    &:hover{
        cursor: pointer;
        filter:opacity(0.5);
    }
}
.ratingCard{
    display: flex;
    align-items: center;
}
.pFullRating{
    font-size:13px;
    color:green;
    margin-left:20px;
}
.cardBottom{
    margin-top:auto;
}
.ratingCard{
    margin-top:auto;
}
@media (max-width:1000px){
    #container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:900px){
    #container{
        display:flex;
        flex-direction: column;
    }
}